/* Stilovi za sve uređaje */
* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Lora', serif;
}

header {
    background: #ADD08B;
    height: 120px;
    border-bottom: 1px black solid;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-tekst {
    margin: 40px;
    font-family: 'Candal', serif;
    font-size: 5vh;
}

header .logo-tekst a {
    text-decoration: none;
}

header .logo-tekst span {
    color: #555152;
    font-style: bold;
    -webkit-text-stroke: 3px #555152;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    float: left;
}

header ul li a {
    text-decoration: none;
    margin-top: 40px;
    display: block;
    padding: 10px;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 1.2px;
    background-color: #555152;
    border-radius: 20px;
    margin-right: 10px;
}

header ul li a:hover {
    background: lightgray;
    transition: 0.5s;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
    margin: 0;
}

header ul li ul li a {
    padding: 5px 10px;
    font-size: 25px;
    color: gray;
    width: 90%;
    background-color: white;
    display: block;
    text-align: left;
    margin-top: 0;
    margin-right: 40px;
}

header ul li ul li a:hover {
    background: lightgray;
}

.odjava {
    color: red;
}

header .meni-crtice {
    display: none;
}

/* Stilovi za mobilne uređaje */
@media only screen and (max-width: 1147px) {
    header .meni-crtice {
        display: block;
        position: absolute;
        right: 60px;
        top: 42px;
        font-size: 2.5em;
    }

    header ul {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: #ADD08B;
    }

    header ul li {
        width: 100%;
        text-align: center;
    }

    header ul li ul {
        position: static;
        display: none;
        background: inherit;
    }

    header ul li:hover ul {
        display: block;
    }

    header ul li ul li {
        display: block;
        width: 100%;
    }

    header ul li a {
        padding: 10px;
        margin-top: 0px;
        font-size: 20px;
        color: white;
        background-color: #555152;
        border-radius: 0px;
        width: 100%;
    }
}